<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/lib/modernizr.js"></script>
    <title>Polilimnio - backbone.js version</title>
</head>
<body>

<div id="photos">
    <input id="searchField" placeholder="search...">
    <button id="getPhotos">search</button>

</div>

<script id="photoTemplate" type="text/template">
    <img src="<%= image %>"/>
    <ul>
        <li><%= title %></li>
    </ul>

</script>

<script src="js/lib/jquery-1.10.2.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>

<script src="js/models/photo.js"></script>
<script src="js/collections/photos.js"></script>
<script src="js/views/photo.js"></script>
<script src="js/views/photos.js"></script>

<script src="js/app.js"></script>

<script src="js/lib/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script>
    // Your code goes here
</script>
</body>
</html>