<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/general_foundicons.css" />
    <link rel="stylesheet" href="css/general_foundicons_ie7.css" />
    <script src="js/lib/modernizr.js"></script>
    <title>Polilimnio - backbone.js version</title>
</head>
<body id="mainContainer">
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle " ><i class="search-button foundicon-search"></i>
                </a>
            </section>

            <section class="middle tab-bar-section">
                <h1 id="search-term" class="title"></h1>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Search</label></li>
                <li>
                    <div class="panel ">
                        <input type="search" id="searchField" placeholder="search..."><button id="getPhotos">search</button>
                    </div>
                </li>
            </ul>
        </aside>

        <section class="main-section">
            <section style="display:none" id="loading-indicator">loading...</section>

            <div data-magellan-expedition="fixed">
                <dl class="sub-nav pagination">

                </dl>
            </div>

            <ul id="photos" class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 xlarge-block-grid-5 xxlarge-block-grid-6">
            </ul>
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>





<script id="photoTemplate" type="text/template">
    <div class="th"><img src="<%= image %>"/><blockquote><%= title %></blockquote></div>
</script>

<script src="js/lib/jquery-1.10.2.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>

<script src="js/models/photo.js"></script>
<script src="js/collections/photos.js"></script>
<script src="js/views/photo.js"></script>
<script src="js/views/photos.js"></script>

<script src="js/app.js"></script>

<script src="js/lib/foundation.min.js"></script>
<script src="js/lib/foundation/foundation.magellan.js"></script>
<script>
    $(document).foundation();
    // fix: https://github.com/zurb/foundation/issues/1235 bug
    $('.sub-nav').click(function(){
        setTimeout(function() {
            $(window).scrollTop($(window).scrollTop()+1);
        }, 100);
    });
</script>


<script>
    // Your code goes here
</script>
</body>
</html>